@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

html,body {
    width: 100%;
    height: 100% ;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    color: #111;
    webkit-tap-highlight-color: #222;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.space-lg {
  padding : 5rem 0 ;
}
.space-md {
  padding : 3rem 0 ;
}

.space-sm {
  padding : 1rem 0 ;
}


.center {
  text-align: center;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px !important;
    min-height: 80px !important;
}
}
.navbar-inverse {
  background-color: #141414 !important;
      margin-bottom: 0 !important;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: #141414 !important;
}

@media(min-width:768px) {
    .navbar-nav>li>a{
      line-height: 2px !important;
      padding-top : 5px !important;
      padding-bottom: 5px !important;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #141414;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 1rem  1.5rem;
    text-align: center;

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 2rem !important;
    line-height: 1.5;
    color: #ccc;
    background-color: #fff;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #111;

    background-color: #ccc;
    box-shadow: none;
}

.btn.btn-primary {
    background-color: transparent;
    color : black;
    border:1px solid #333;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
  background-color: #f23754;
  color : #fff;
  border:1px solid #f23754;
}


.btn-danger {
    color: #fff;
    background-color: #f23754 !important;
    border: 1px solid #e70f31 !important;
  }

.btn-lg{
  font-size : 1.3rem;
}

@media (min-width: 768px){
  .navbar-nav {
    margin-top: 3.2rem !important;
    padding-left : 10rem;
    }
}

::-webkit-input-placeholder {
   font-size: 20px;
   margin-top:1.5rem !important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 20px;
      margin-top:1.5rem !important;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px;
      margin-top:1.5rem !important;
}

:-ms-input-placeholder {
      font-size: 20px;
      margin-top:1.5rem !important;
}


.container-inner {

    max-width: 920px;
    width: 100%;
    margin: 0 auto;

}
