

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,body {
    width: 100%;
    height: 100% ;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    color: #111;
    webkit-tap-highlight-color: #222;
}

#root{
  min-height: 100%;
       height: auto !important;
       height: 100%;
       margin: 0 auto -60px;
      /*position: relative;*/
}

hr {
    max-width: 200px;
    border-width: 3px;
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #111 !important;

}

.mobile-hr{
  display: block;
}
@media (min-width: 768px){
  .mobile-hr{
    display: none;
  }

}


a {
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

/*a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.clickableRow {
  cursor: pointer;
}
.space-lg {
  padding : 5rem 0 ;
}
.space-md {
  padding : 3rem 0 ;
}

.space-sm {
  padding : 1rem 0 ;
}

.space-xs {
  padding : 0.3rem 0 ;
}

.wide-space {
    letter-spacing: 1.6px;
}

.hori-space {
  padding : 0 0.3rem;
}
.center {
  text-align: center;
}

.loader {
margin : 0 auto;
}

.icon-lg {
    font-size: 25px;
    line-height: 18px;
}

.bg-primary {

    background-image: url("../assets/images/tiled.top.png");
    background-color: #ededed !important;
    background-repeat: no-repeat;
}


.bg-cover {
  display: none;

}
@media (min-width: 768px){
  .bg-cover {
    display: block;
    background-image: url("../images/tiled.png");
    background-color: #ededed !important;
    background-size: cover;
    z-index: 3000;
    min-height: 750px;
  }

}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #9c27b0;
}


.modal_center {
  text-align: center;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

.alert-success{
  position : absolute;
  width : 70%;
  top:0;
}

.alert-danger{
  position : absolute;
  width : 70%;
  top:0;
}

.error {
  color : red;
  text-align: center;
  font-weight: bold;
  padding : 1em;
}

.custom-jumbotron {
    padding : 2rem 0;
    background-color: #eee;
    text-align: center;
    margin-bottom : 2rem;
}

#footer {
    display: block;
    width: 100%;
    height : 4rem;
    background-color: #141414;
    border-top: 1px solid #171717;
    padding: 10px 0;
    font-size: 1.2rem;
    color :black;
}

#footer-container {
  max-width: 920px;
  margin: 0 auto;

}

.no-padding {
    padding: 0;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px !important;
    min-height: 80px !important;
}
}

.navbar-inverse {
  background-color: #141414 !important;
  margin-bottom: 0 !important;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a:active {
  background-color: transparent !important;
}


@media(min-width:768px) {
    .navbar-header > .navbar-brand {
        padding: 19px;
    }
    .navbar-nav>li>a{
      line-height: 2px !important;
      padding-top : 5px !important;
      padding-bottom: 5px !important;
    }
}


.navbar-profile {
  height: 35px;
  width: 35px;
  mrgin-top : -1.3rem;
  margin-right: 0px;
  border-radius: 34px;
}

.caret {
margin-left:0 !important;
vertical-align: middle;
border-top: 6px dashed ;
border-right: 6px solid transparent;
border-left: 6px solid transparent;
}
.nav .open>a {
  background-color: transparent !important;
}

.dropdown-menu {
  margin-top : 25px !important;
  background-color: rgb(237,237,237) !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #222 !important;
  background-color: rgb(219, 220, 221) !important;
}
header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #141414;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}


.inner h1 {
   font-size: 28px;

 }
@media (min-width: 768px){
     .inner h1 {
        font-size: 48px;
      }
}

.inner h4 {
    display: none;
}
@media(min-width : 768px){
  .inner h4 {
    display: block;
      max-width: 50% ;
      padding: 0;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 50px;
      font-size: 16px;
      font-weight: 100;
      color: #fff;
      text-align: center;
      line-height: 1.3;
  }
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 30px;
    }

    header {
        min-height: 80%;

    }

    header .header-content {
        position: absolute;
        top: 40%;
        padding: 0 50px;
        -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }


    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 2rem !important;
    line-height: 1.5;
    color: #ccc;
    background-color: #fff;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #111;

    background-color: #ccc;
    box-shadow: none;
}

.form-inline .form-control {
  width : 30rem ;

}
@media (min-width: 768px){
  .form-inline .form-control {
    width : 35rem ;
  }

}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}



.btn-default {
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-left-radius: 5px !important;
height : 4.8rem ;
width : 10rem ;
    background-color: #f23754;
    color : #fff;
    margin-left: 1rem !important;

}



.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}*/

.home-btn {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  height : 4.8rem ;
  width : 10rem ;
      background-color: #f23754;
      color : #fff;
      margin-left: 1rem !important;

}
.btn.btn-primary {
    background-color: transparent;
    color : black;
    border:1px solid #333;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
  background-color: #f23754;
  color : #fff;
  border:1px solid #f23754;
}


.btn-danger {
    color: #fff;
    background-color: #f23754 !important;
    border: 1px solid #e70f31 !important;
  }
.btn {
    border: 0;
    border-radius: 6px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}
.btn-lg{
  font-size : 1.3rem;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.middle-item{
  border-left: 1px solid #a7a9ac;
    border-right: 1px solid #a7a9ac;
}


@media (min-width: 768px){
  .navbar-default .nav > li>a{
    padding : 10px 20px !important ;
  }
}

@media (min-width: 768px){
  .navbar-nav {
    margin-top: 3.2rem !important;
    padding-left : 10rem;
    }
}


::-webkit-input-placeholder {
   font-size: 20px;
   margin-top:1.5rem !important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 20px;
      margin-top:1.5rem !important;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px;
      margin-top:1.5rem !important;
}

:-ms-input-placeholder {
      font-size: 20px;
      margin-top:1.5rem !important;
}


.url-submit {
  height : 4rem ;
  font-size : 1.2rem;
}

@media(min-width : 768px){
  .url-submit {
    height : 5rem;
    font-size : 1.6rem;
  }
}


@media(min-width : 768px){
  .home-right-col-img {
    margin : 0 auto !important;
  }
}

.home-right-col-img {
  margin : 3rem auto ;

}

.home-left-col-p {
  font-size: 13px ;
  color: #1a1d1c;
  font-family: Karla,sans-serif;
  line-height: 30px;
}

.container-fluid {
  width: 100%;
}

.container-inner {

    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.container-inner-narrow {

    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}


.btn-default-dark {
  background-color : #212121 !important;
  color : #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 20px;
}
@media (min-width: 768px){
  .btn-default-dark {
      background-color : #212121 !important;
      font-size: 18px;
      color : #fff;
      font-weight: 500;
      padding: 10px 25px;
  }
}


.btn-default-dark-small {
    background-color : #212121 !important;
    color : #fff;
    font-size: 14px;
    width : 10rem !important;
    font-weight: 400;
    padding: 5px 15px;
    width : 100%;
}



.signUp-ico {
margin: 0;
padding: 0 1rem 0 0;
box-sizing: border-box;
display: inlineblock;
float: left;
height: 20px;
}
@media (min-width: 768px){
  .signUp-ico {
  margin: 0;
  padding: 0 1rem 0 0;
  box-sizing: border-box;
  display: inlineblock;
  float: left;
  height: 25px;
  }
}


.signUp-inner-col-left {
  background-color: #e5e5e5;
  overflow: hidden;
  padding: 3rem 0 ;
  margin : 0;
}
@media (min-width: 768px){
  .signUp-inner-col-left {
    display: block;
    margin-right : 3rem;
    padding: 3rem 0;
    max-width: 460px;
    height: 100%;
    float: right;
    min-height: 350px;
    background-color: #e5e5e5;
    overflow: hidden;
  }
}


.signUp-inner-col-right {
  padding: 3rem 1rem  ;
}

@media (min-width: 768px){
  .signUp-inner-col-right {
    display: block;
    margin-left : 6rem;
    padding-top: 6rem  !important;
    max-width: 460px;
    height: 100%;
    float: left;
    min-height: 750px;
    overflow: hidden;
  }
}


.signUp-col-right-inner-wrapper{
  margin : 0 auto ;
}

.signUp-col-right-title{
  color : #111;
  text-align: center;
}


.signUp-col-left-title {
  color: #111;
  text-align: center;
  padding: 0 1rem;
  font-size: 30px;
}

@media (min-width: 768px){
  .signUp-col-left-title {
    color: #111;
    text-align: left;
    margin: 0 3.125rem;
    padding: 0 1.875rem;
    font-size: 41px;
  }
}

.signUp-col-left-p {
  display: none;
  margin: 0 ;
  padding: 0 ;
}

@media (min-width: 768px){
  .signUp-col-left-p {
    color: #1a1d1c;
    line-height: 30px;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    margin: 0 3rem;
    padding: 0 2rem;


  }
}


.signUp-col-left-hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
.signUp-col-left-hr:after {
  content: 'OR';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;

}


.signUp-col-right-label {
  color : #111;
  font-size: 1.4rem;
  line-height: 1rem;
  text-align: center;
  line-height: 1.7rem;
}
@media (min-width: 768px){
  .signUp-col-right-label {
    text-align: left;
    color : #111;
    font-size: 1.4rem;
    line-height: 1rem;
  }

}

.dashboard-nav {
  width : 100%;
  background-color: #fff;
}
@media (min-width: 768px){
  .dashboard-nav {
    width : 100%;
    background-color: #f7f7f7;
  }
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-tabs>li.active>a {
  background-color: #e6e8e6 !important;
  color : #111 !important;
}

.nav-tabs>li>a {
  color: #111;
  padding-top:2rem;
  padding-bottom:2rem;
}

@media (min-width: 768px){
  .nav-tabs>li>a {

    padding-top:3rem;
    padding-bottom:3rem;
  }

}

.report-alert {
  margin-bottom: 0 !important;
}
.report-alert p{
  text-align: center !important;
  font-size: 1.5rem !important;
}

.report_title {
  text-align: center;
  color : #111;
}
.signinBTN-verification-message {
  background-color: #f23754;
  color : #fff;
  padding:1.5rem;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.report-back-btn {

  position:absolute;
  top : 13%;
  left : 8%;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  height : 4rem ;
  width : 9rem ;
      background-color: #f23754;
      margin-left: 1rem !important;
      padding : 1rem;
}

.report-back-btn:before{
  content: '';
  background:url('/images/back.png');
  background-size:cover;
      position:absolute;
  width:20px;
  height:20px;
  margin-left:0px;
}

.report-back-btn-link {
  color:#fff;
  padding-left : 2.5rem;
}

.report-back-btn-link:hover {
  color:#fff;

}

#url-submit-bg{
  margin-top:0;
  width : 100%;
  padding-top:1.5rem;
  background-color: #e6e8e6;
  text-align:center;
  height : 8rem;
}

#url-submit-form{
  padding-top : 1.5rem;
}


.table-responsive {
  padding-left: 1.5rem !important;
  padding-right : 1.5rem !important;
}

#report-summary-table {
  display : none;
}

@media (min-width: 768px){
  #report-summary-table {
    display : block;
  }

}

#report-summary-mobile {
  padding : 0 2rem ;
  display: block;
  text-align: center;
  font-size: 4rem;
}

@media (min-width: 768px){
  #report-summary-mobile {
    display : none;
  }

}

.current-score {
  text-align: center;
    font-size: 51px;
    line-height: 46px;
}
.report-logo {
  width : 2.5rem;
  margin-bottom: 2rem;

}

.report-sub-content {
  margin : 0;
  padding : 0;
  font-size: 1.4rem;
}

.report-small-icon {
  height: 2.5rem;
  margin-top: -0.4px;
  vertical-align: top;
  padding-right: 0.8rem;
}

.report-sub-scores {
  font-weight: bold;
}

.report-screenshot-scroll > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.report-screenshot-scroll > .row > .col-xs-2 {
  display: inline-block;
  float: none;
}

.filmstrips {
    opacity: .8;
    height: 50px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin : 0rem 0rem 1rem 0rem;
    cursor: pointer;
}

#filmstrip-container {
  display: none;
}
@media (min-width: 768px){
  #filmstrip-container {
    display: block;
    background-color: #e6e8e6 !important;
    border-radius: 0px !important;
    margin : 0;
    padding : 2.5rem 0;
  }

}


.nav-tabs {
  border-bottom: none;
}

#report-tab-container {

  display: none;
}
@media (min-width: 768px){
  #report-tab-container {
    display: block;
    margin : 0;
    padding :  0;
    border-radius: 0px !important;
    height : 8rem;
  }
}

#report-tab-row {
  margin-top : 0px;
}
@media (min-width: 768px){
  #report-tab-row {
    margin-top : -8rem;
  }
}
#report-tab-row {
  margin-top : -8rem;;
}



#report-tab-wrapper {
display: none;
}

@media (min-width: 768px){
  #report-tab-wrapper {
    display: block;

  }
}

.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0 ;
  width: 1px ;
  content: "" ;
  display:block ;
  position: absolute ;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

.report-col-img {
  margin:  1.2rem auto;
  padding: 0;
  display: block;
  max-height: 64px;
}

.grouped {
  margin : 2rem 0 ;
  padding : 0;
}
.report-group-header {
  border-radius: 10px 10px 0 0;
  padding: 5px 35px;
  background-color: #212121;
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}

.box {
  display: inline-block;
font-weight: 700;
color: #fff;
font-size: 13px;
font-family: Lato,sans-serif;
padding: 6px 11px;
border-radius: 3px 3px 3px 3px;
background-color: #212121;
}



.footer-text-left {
  color : #fff;
  text-align: center;
}

.footer-text-right {
  padding-top : 1rem;
  color : #fff;
  text-align: center;
}

@media (min-width: 768px){
.footer-text-left {
  color : #fff;
  text-align: left;
  padding-top : 0;

}
.footer-text-right {
  color : #fff;
  text-align: right;
  padding-top : 0;

}
}
.errorMsg{
  color : red;
}
.successMsg {
  color: green;
}
