body {
  margin-top: 50px;
  margin-bottom: 50px
}

.container {
  width :auto;
  max-width: 900px;
  padding : 0 15px;
}
.container .footer-text {
  margin : 20px 0 ;
  background-color: #eee;
}

.badge {
  margin-left:15px;
  background-color: #e4aa48;
}

.hidden {
  display: none;
}
.show {
  display : block;
}
.padding-0{
    padding-right:0 !important;
    padding-left:0 !important;
}
.form-control-feedback  {
    right: 5 !important;
    display : none;
  }
.glyphicon {
  display : none !important;
}
